* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font: 62.5% Lato, sans-serif;
  --black: #000;
  --white: #fff;
  --gray: #eee;
  --gray-darker: #ccc;
  --gray-lighter: #f1f1f1;
  --orange: #ff8000;
  --blue: #668cff;
  --green: #3c3;
  --pink: #c3f;
}

.container {
  display: grid;
  grid-template-areas:
    ". . . . . ."
    "mn mn mn ftr ftr ftr"
    "mn mn mn ftr ftr ftr"
  ;
  position: relative;
  overflow: hidden;
}

.copy-textarea {
  position: fixed;
  left: -999px;
  top: 50%;
  transform: translateY(-50%);
}

a {
  color: var(--black);
}