* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  --primary: #000;
  --secondary: #fff;
}

.container {
  display: grid;
  grid-template-areas:
    ". . . . . ."
    "mn mn mn ftr ftr ftr"
    "mn mn mn ftr ftr ftr"
  ;
  position: relative;
  overflow: hidden;
}

.copy-textarea {
  display: none;
}

header,
main,
footer {
  border: 1px solid #000;
}