.header {
  width: 100vw;
  height: 15vh;
  font-size: 1.3rem;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--secondary);
  z-index: 2;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  position: relative;
}

.nav-ul {
  display: flex;
  list-style-type: none;
}

.nav-ul li {
  margin-left: 5px;
}

.nav-ul a {
  text-decoration: none;
  display: block;
  padding: 8px 5px;
}

.nav-burger {
  display: none;
}

.nav-burger .burger-line {
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  background: var(--primary);
}