.main {
  grid-area: mn;
  background: lightblue;
  margin-top: 15vh;
  height: 85vh;
  width: 200vw;
  overflow: hidden;
  display: flex;
}

.about,
.projects {
  width: 100vw;
  height: 85vh;
}

.about {
  background: lightpink;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-hi,
.skill-heading {
  font-weight: bolder;
  font-size: 1.8rem;
}

.about-text,
.about-skills {
  width: 40%;
  font-size: 1.35rem;
  line-height: 18px;
  animation: fadeIn 0.5s;
}

.about-skills {
  text-align: center;
  display: none;
}

.skill {
  flex: 1;
  padding: 5px;
}

.skill-png {
  width: 40px;
}

.skill-heading {
  margin-bottom: 10px;
}

.about-photo-ctn {
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}

.about-photo,
.skill-photo {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.50);
  border: 2px solid var(--secondary);
}

.about-photo {
  width: 100%;
  height: 100%;
}

.skill-photo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--secondary);
  letter-spacing: 3px;
  font-size: 2.5rem;
  transform: rotateY(180deg);
}

.showActive {
  transform: rotateY(180deg);
}

@keyframes fadeIn {
  from {
    transform: translateY(50%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.projects {
  overflow: auto;
  background: lightcyan;
}

.projects-container {
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-gap: 25px 15px;
  justify-content: center;
  padding: 25px 15px;
}

.projects-header,
.projects-intro {
  font-size: 1.5rem;
  padding: 15px;
  text-align: center;
}

.project figure {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
}

.project figcaption {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.project-photo {
  width: 100%;
  border-bottom: 1px solid #000;
}

.project-title {
  font-size: 1.5rem;
}

.project-git {
  padding: 4px 7px;
  border: 1px solid #000;
  border-radius: 30px;
  margin-bottom: 5px;
  font-size: 1rem;
}

.show-more {
  display: none;
}