.container {
  grid-template-areas:
    ". . . . . ."
    "mn mn mn mn mn mn"
    "ftr ftr ftr ftr ftr ftr"
  ;
}

.header {
  height: 10vh;
}

.nav-ul {
  width: 30%;
  flex-direction: column;
  position: absolute;
  top: 110%;
  right: 0;
  transform: translateX(100%);
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s;
}

.nav-ul a {
  margin-bottom: 1px;
  padding: 8px 12px;
  border-radius: 5px 0 0 5px;
  border-bottom: 1px solid var(--black);
  background: var(--gray-lighter);
}

.nav-burger {
  display: block;
  cursor: pointer;
  transition: transform 0.3s linear;
}

.nav-burger:active {
  transform: scale(0.5);
}

.active-ul {
  transform: translateX(0%);
  pointer-events: all;
  opacity: 1;
}

.main {
  margin-top: 10vh;
  height: auto;
  overflow: visible;
  flex-direction: column;
}

.about {
  height: 100vh;
}

.about {
  flex-direction: column-reverse;
  position: relative;
}

.about::after {
  content: "";
  width: 80%;
  height: 1px;
  background: var(--gray-darker);
  position: absolute;
  bottom: 12vh;
  left: 50%;
  transform: translateX(-50%);
}

.about-text,
.about-skills {
  width: 70%;
  margin-bottom: 40px;
}

.about-photo,
.skill-photo {
  border-radius: 50%;
}

.projects {
  height: 100vh;
  overflow: hidden;
  transition: height 0.6s;
  position: relative;
}

.fadeBg {
  height: 30%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.95) 50%,
      rgba(255, 255, 255, 1) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: opacity 0.4s;
}

.show-more {
  display: block;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  border: none;
  padding: 5px;
  border-bottom: 1px solid var(--black);
  background: transparent;
  z-index: 2;
  transition: all 0.1s linear;
}

.toggleShow {
  height: 900px;
  overflow: auto;
}

.displayNone {
  opacity: 0;
  pointer-events: none;
}

.footer {
  margin: 0;
  height: 40vh;
}