.container {
  grid-template-areas:
    ". . . . . ."
    "mn mn mn mn mn mn"
    "ftr ftr ftr ftr ftr ftr"
  ;
}

.header {
  height: 10vh;
}

.nav-ul {
  width: 30%;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateX(100%);
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s;
}

.nav-ul a {
  margin-bottom: 1px;
  padding: 8px 12px;
  border-radius: 30px 0 0 30px;
  background: var(--primary);
  color: var(--secondary);
}

.nav-burger {
  display: block;
  cursor: pointer;
}

.active-ul {
  transform: translateX(0%);
  pointer-events: all;
  opacity: 1;
}

.main {
  margin-top: 10vh;
  height: auto;
  overflow: visible;
}

.about {
  height: 100vh;
}

.about {
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.about-text,
.about-photo-ctn,
.about-skills {
  margin-top: 15vh;
}

.about-text,
.about-skills {
  width: 70%;
}

.about-photo,
.skill-photo {
  border-radius: 50%;
}

.projects {
  height: 100vh;
  overflow: hidden;
  transition: all 1s;
  position: relative;
}

.fadeBg {
  height: 50%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.95) 50%,
      rgba(255, 255, 255, 1) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}

.show-more {
  display: block;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}

.toggleShow {
  height: 1780px;
  overflow: auto;
}

.displayNone {
  display: none;
}

.footer {
  margin: 0;
  height: 50vh;
}