* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

:root {
  --blue: #05386b;
  --green: #062;
  --white: whitesmoke;
}

body {
  font-size: 62.5%;
}

img {
  width: 10rem;
}

main {
  background: #05386b;
  font: "B612";
}

.score {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: whitesmoke;
}

.score h2 {
  font-size: 1.2rem;
}

.score p {
  text-align: center;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.intro {
  height: 80vh;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.5s ease;
}

.intro h2 {
  font-size: 2rem;
}

.intro button, .options button {
  padding: 0.5rem 1rem;
  border: none;
  background: var(--green);
  color: var(--white);
  border: 1px solid var(--green);
  border-radius: 2px;
  transition: all 0.2s ease;
}

.intro button:hover, .options button:hover {
  background: var(--white);
  color: var(--green);
}

.match {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  transition: opacity 0.5s ease;
}

.winner {
  color: var(--white);
  font-size: 2rem;
  text-align: center;
}

.hands, .options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-hand {
  transform: rotatey(180deg);
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

#warning-message {
  display: none;
}

@media only screen and (orientation: portrait) {
  main {
    display: none;
  }

  #warning-message {
    display: block;
    height: 100px;
    width: 200px;
    margin: auto;
    padding: 150px 0px;
    font-size: 1.5rem;
    color: red;
  }
}

@media only screen and (orientation:landscape) {
  #warning-message {
    display: none;
  }
}