* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: Lato,Sans-Serif;
}

header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: #fff;
}

#location-form {
  width: 100%;
}

#location-input {
  display: block;
  width: 50%;
  margin: 3% auto;
  padding: 2% 3%;
  border: 1px solid #000;
}

.result-ul {
  width: 60%;
  margin: 5% auto;
  list-style: none;
}

.result-item {
  border-bottom: 1px solid #000;
  padding: 2% 3%;
  transition: all 0.2s ease;
  color: #000;
}

.result-item:hover {
  transform: scale(1.1);
  background: #eee;
}

h3 {
  margin: 3% auto;
}

p {
  color: #36f;
}

strong {
  color: #000;
}